mixin pagination 
    .pagination__block
        .pagination 
            .pagination__item 
                a(href="#") 1
            .pagination__item 
                a(href="#") 2
            .pagination__item 
                a(href="#") 3
            .pagination__item 
                a(href="#") ...
            .pagination__item 
                a(href="#") 15
            .pagination__item 
                a(href="#") 6
                    img(src=require("@assets/arrow_forwardWhite.svg").default, alt="enter" class="forward")
        .pagination__title 1 – 12 из 100+ вариантов аренды