@use "../../../styles/const" as *;
.room__card {
  width: 270px;
  height: 257px;
  border-radius: 4px;
  box-shadow: 0px 10px 20px 0px $darkShade-5;

  .room__card-wrapper {
    width: 233px;
    height: 67px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px auto 0 auto;

    .room_separator {
      width: 230px;
      height: 1px;
      background: $darkShade-10;
    }
    .room__card-footer {
      display: flex;
      justify-content: space-between;
      .card-star {
        width: 120px;
        display: flex;
        justify-content: space-between;
      }
      .card-review {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0;
        color: $darkShade-75;
        font-weight: 700;
        span {
          color: $darkShade-50;
          font-weight: 400;
          // &::first-letter {
          //   text-transform: uppercase;
          //   margin-left: 5px;
          // }
        }
      }
    }
  }
}
.room__card-body {
  display: flex;
  justify-content: space-between;
  .card-number {
    font-size: 19px;
    line-height: 23.16px;
    letter-spacing: 0;
    font-weight: 700;

    &::first-letter {
      font-size: 14px;
      line-height: 17.07px;
      // letter-spacing: 0;
      // font-weight: 700;
    }

    span {
      @include font-style(h3);
      color: $purple;
    }
  }
  .card-cash {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: $darkShade-75;
    align-content: end;
    font-weight: 700;

    &::first-letter {
      margin-right: 5px;
    }
    span {
      font-style: 12px;
      color: $darkShade-50;
      font-weight: 400;
      // margin-left: 5px;
    }
  }
}
.feedbackQuality__block {
  width: 120px;
  display: flex;
  justify-content: start;
  gap: 3px;
}
