mixin room-card(options)
    .room__card 
        .room__card-image 
            .card-image-slider
        .room__card-body 
            .card-number 
            .card-cash 
        .room__card-footer
            .card-star 
            .card-review