@use "sass:map";
$darkShade-100: rgba(31, 32, 65, 1);
$darkShade-75: rgba(31, 32, 65, 0.75);
$darkShade-50: rgba(31, 32, 65, 0.5);
$darkShade-25: rgba(31, 32, 65, 0.25);
$darkShade-20: rgba(31, 32, 65, 0.2);
$darkShade-12: rgba(31, 32, 65, 0.12);
$darkShade-10: rgba(31, 32, 65, 0.1);
$darkShade-5: rgba(31, 32, 65, 0.05);
$purple: rgba(188, 156, 255, 1);
$purple-grand: rgba(139, 164, 248, 1);
$green: rgba(111, 207, 151, 1);
$white: rgba(255, 255, 255, 1);
$green-grand: rgba(102, 210, 234, 1);
$beige: rgba(255, 227, 156, 1);
$beige-grand: rgba(255, 186, 156, 1);
$gray: rgba(144, 144, 144, 1);
$gray-grand: rgba(61, 73, 117, 1);
$gradientPurple: linear-gradient(180deg, $purple 0%, $purple-grand 100%);
$gradientGreen: linear-gradient(180deg, $green 0%, $green-grand 100%);
$gradientBeige: linear-gradient(180deg, $beige 0%, $beige-grand 100%);
$gradientGray: linear-gradient(180deg, $gray 0%, $gray-grand 100%);

$fontFamily: "Montserrat", sans-serif;

$fontSize: (
  h1: 24px,
  h2: 19px,
  h3: 12px,
  body: 14px,
  title: 14px,
);

$lineHeight: (
  h1: 29.26px,
  h2: 23.16px,
  h3: 14.63px,
  body: 24px,
  title: 17.07px,
);

$fontWeight: (
  h1: 700,
  h2: 700,
  h3: 400,
  body: 400,
  title: 400,
);

@mixin font-style($key) {
  font-family: $fontFamily;
  font-size: map.get($fontSize, $key);
  font-weight: map.get($fontWeight, $key);
  line-height: map.get($lineHeight, $key);
}
