@use "../styles/_const.scss" as *;

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
// reset стилей

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15; // Устанавливаем базовую высоту строки
  -webkit-text-size-adjust: 100%; // Предотвращаем изменение размера шрифта на мобильных устройствах
  width: 100%;
}

body {
  // max-width: 1440px;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
}

// Сброс стилей для заголовков
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

// Сброс стилей для списков
ul,
ol {
  list-style: none; // Убираем маркеры
}

// Сброс стилей для ссылок
a {
  text-decoration: none; // Убираем подчеркивание
  color: inherit; // Устанавливаем цвет по умолчанию
}

// Сброс стилей для таблиц
table {
  border-collapse: collapse; // Убираем отступы между ячейками
  border-spacing: 0;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29.26px;
}
h2 {
  font-weight: 700;
  font-size: 19px;
  line-height: 23.16px;
}
h3 {
  font-weight: 700;
  font-size: 12px;
  line-height: 14.63px;
}

input {
  height: 44px;
  padding: 0 15px;
  border: 1px solid $darkShade-25;
  border-radius: 4px;

  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    display: none; /* Скрыть значок выбора даты */
  }

  &::placeholder {
    color: $darkShade-25;
    font-size: 14px;
    line-height: 18px;
  }
  &:focus {
    border: 1px solid $darkShade-50;
  }
  &[type="date"] {
    text-transform: uppercase;
    color: $darkShade-50;
  }
  &:hover {
    border: 1px solid $darkShade-50;
  }
}

.wrapper {
  max-width: 1160px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
header {
  max-width: 1440px;
  width: 100%;
  background-color: #fff;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  img {
    cursor: pointer;
    width: 105.69px;
    height: 40px;
  }
  ul {
    display: flex;
    list-style: none;
    gap: 20px;
    color: rgba(31, 32, 65, 0.5);
  }
  .btn--second {
    width: 87px;
  }
  .btn--primary {
    width: 196px;
  }
}

// main {
//   width: 100%;
//   height: 830px;
//   background-image: url("../assets/img/mainImage.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
// }
