@use "../styles/_const.scss" as *;

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
// reset стилей

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15; // Устанавливаем базовую высоту строки
  -webkit-text-size-adjust: 100%; // Предотвращаем изменение размера шрифта на мобильных устройствах
  width: 100%;
}

body {
  // max-width: 1440px;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
}

// Сброс стилей для заголовков
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

// Сброс стилей для списков
ul,
ol {
  list-style: none; // Убираем маркеры
}

// Сброс стилей для ссылок
a {
  text-decoration: none; // Убираем подчеркивание
  color: inherit; // Устанавливаем цвет по умолчанию
}

// Сброс стилей для таблиц
table {
  border-collapse: collapse; // Убираем отступы между ячейками
  border-spacing: 0;
}

h1 {
  // font-weight: 700;
  // font-size: 24px;
  // line-height: 29.26px;
  @include font-style(h1);
}
h2 {
  //   font-weight: 700;
  //   font-size: 19px;
  //   line-height: 23.16px;
  @include font-style(h2);
}
h3 {
  // font-weight: 700;
  // font-size: 12px;
  // line-height: 14.63px;
  @include font-style(h3);
}

input {
  height: 44px;
  padding: 0 15px;
  border: 1px solid $darkShade-25;
  border-radius: 4px;

  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    display: none; /* Скрыть значок выбора даты */
  }

  &::placeholder {
    color: $darkShade-25;
    font-size: 14px;
    line-height: 18px;
  }
  &:focus {
    border: 1px solid $darkShade-50;
  }
  &[type="date"] {
    text-transform: uppercase;
    color: $darkShade-50;
  }
  &:hover {
    border: 1px solid $darkShade-50;
  }
}

main {
  max-width: 1440px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

// input[type="checkbox"]:checked,
// input[type="checkbox"]:not(:checked),
// input[type="radio"]:checked,
// input[type="radio"]:not(:checked) {
//   position: absolute;
//   left: -9999px;
// }

// input[type="checkbox"]:checked + label,
// input[type="checkbox"]:not(:checked) + label,
// input[type="radio"]:checked + label,
// input[type="radio"]:not(:checked) + label {
//   display: inline-block;
//   position: relative;
//   padding-left: 30px;
//   line-height: 20px;
//   cursor: pointer;
// }

// input[type="checkbox"]:checked + label:before,
// input[type="checkbox"]:not(:checked) + label:before,
// input[type="radio"]:checked + label:before,
// input[type="radio"]:not(:checked) + label:before {
//   content: "";
//   position: absolute;
//   left: 0px;
//   top: 0px;
//   width: 20px;
//   height: 20px;
//   //   border: 1px solid #dddddd;
//   border: 1px solid $darkShade-25;
//   background-color: $white;
// }

// input[type="checkbox"]:checked + label:before,
// input[type="checkbox"]:not(:checked) + label:before {
//   border-radius: 4px;
// }
// input[type="checkbox"]:checked,
// input[type="radio"]:checked {
//   &:checked + label:before {
//     border: 1px solid $purple;
//   }
// }

// input[type="radio"]:checked + label:before,
// input[type="radio"]:not(:checked) + label:before {
//   border-radius: 100%;
// }

// input[type="checkbox"]:checked + label:after,
// input[type="checkbox"]:not(:checked) + label:after,
// input[type="radio"]:checked + label:after,
// input[type="radio"]:not(:checked) + label:after {
//   content: "";
//   position: absolute;
//   -webkit-transition: all 0.2s ease;
//   -moz-transition: all 0.2s ease;
//   -o-transition: all 0.2s ease;
//   transition: all 0.2s ease;
// }

// input[type="checkbox"]:checked + label:after,
// input[type="checkbox"]:not(:checked) + label:after {
//   left: 6px;
//   top: 5px;
//   width: 8px;
//   height: 6px;

//   border-left: 2px solid $purple;
//   border-bottom: 2px solid $purple;
//   -webkit-transform: rotate(-45deg);
//   -moz-transform: rotate(-45deg);
//   -o-transform: rotate(-45deg);
//   -ms-transform: rotate(-45deg);
//   transform: rotate(-45deg);
// }

// input[type="radio"]:checked + label:after,
// input[type="radio"]:not(:checked) + label:after {
//   left: 5px;
//   top: 5px;
//   width: 12px;
//   height: 12px;
//   border-radius: 100%;
//   background-color: $purple;
// }

// input[type="checkbox"]:not(:checked) + label:after,
// input[type="radio"]:not(:checked) + label:after {
//   opacity: 0;
// }

// input[type="checkbox"]:checked + label:after,
// input[type="radio"]:checked + label:after {
//   opacity: 1;
// }

.wrapper {
  max-width: 1160px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 1240px) {
  .wrapper {
    width: 97%;
  }
}
// for input[date] =========================================================

div.air-datepicker.-inline- {
  z-index: 1;
  position: absolute;
  width: 318px;
  height: 367px;
  top: 67px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .air-datepicker--navigation {
    .air-datepicker-nav {
      padding: 10px 20px;
      border-bottom: 0;
      .air-datepicker-nav--action {
        svg {
          width: 13px;
          height: 11px;
          fill: $purple;
        }
      }
      .air-datepicker-nav--title {
        @include font-style(h2);
        gap: 5px;
        .air-datepicker-cell.-day-.-current- {
          background: linear-gradient(180deg, $green 0%, $green-grand 100%);
          border-radius: 50%;
          color: $white;
        }
      }
    }
  }
  .air-datepicker--content {
    height: 240px;
    border-top: none;
    @include font-style(h3);
    .air-datepicker-body.-days- {
      width: 280px;
      height: 240px;
      margin: 0 auto;

      .air-datepicker-body--day-names {
        width: 280px;
        height: 40px;
        margin: 8px auto 3px auto;
        .air-datepicker-body--day-name {
          color: $purple;
          text-transform: none;
          @include font-style(h3);
        }
      }

      .air-datepicker-body--cells.-days- {
        width: 280px;
        height: 200px;
        grid-auto-rows: 40px;
        .air-datepicker-cell.-current- {
          background: linear-gradient(180deg, $green 0%, $green-grand 100%);
          border-radius: 22px;
          color: $white;
        }
      }
    }
  }
  .air-datepicker--buttons {
    margin: 0 0 10px 0;
    .air-datepicker-buttons {
      .air-datepicker-button:first-child {
        span:first-child {
          justify-content: start;
          margin-left: 20px;
        }
      }
      .air-datepicker-button:last-child {
        span:first-child {
          justify-content: end;
          margin-right: 20px;
        }
      }
    }
  }
}

.air-datepicker-cell.-day- {
  width: 40px;
  height: 40px;
  color: $darkShade-50;
  @include font-style(h3);
}

.air-datepicker-cell.-day-.-in-range- {
  background: linear-gradient(180deg, $purple 0%, $purple-grand 100%);
  opacity: 0.25;
  color: $darkShade-100;
}
.air-datepicker-cell.-day-.-selected-.-range-from-,
.air-datepicker-cell.-day-.-selected-.-range-to- {
  background: linear-gradient(180deg, $purple 0%, $purple-grand 100%);
  border-radius: 22px;
}
.air-datepicker.-inline- .air-datepicker--buttons,
.air-datepicker--time {
  border-top: none;

  @include font-style(h3);
  .air-datepicker-button {
    color: $purple;
  }
}

// finish air-datepicker =========================================================

// registration=======================================================
.registration__area {
  max-width: 1440px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .registration-form {
      margin: 172px 0;
    }
    .enter-form {
      margin: 19px 0;
    }
  }
  .main__image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}
@media (max-width: 900px) {
}
// ui-kit=======================================================
.ui-header {
  height: 108px;
}
.color__type {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  align-items: start;
  display: flex;
  justify-content: space-between;
  padding: 45px 113px 0 150px;
}
@media (max-width: 1100px) {
  .color__type {
    padding: 45px 20px 0 20px;
  }
}
@media (max-width: 830px) {
  .color__type {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
.ui__area.ui__header {
  max-width: 1440px;
  width: 100%;
  background: rgba(244, 244, 246, 1);
}
.headerPage__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 40px;
  background: rgba(244, 244, 246, 1);
}
.cardsPage {
  max-height: 1150px;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  gap: 40px;
}
// for headers page ===============================================
.headers {
  max-width: 1440px;
  width: 100%;
  height: 1350px;
  margin: 0 auto;
  background: rgba(244, 244, 246, 1);
}
