@use "../../../styles/_const.scss" as *;
.radioButton__block {
  width: 100%;
  display: flex;
  gap: 20px;
  .radioButton__wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    @include font-style(body);
    color: $darkShade-75;
    text-transform: lowercase;
    label::first-letter {
      text-transform: uppercase;
    }
  }
}
.toggleButton__wrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  color: $darkShade-50;
  position: relative;
  .toggle-checkbox {
    opacity: 0;
    position: absolute;
    width: 40px;
    height: 20px;
    z-index: 1;
    cursor: pointer;
  }
  .toggle-label {
    width: 40px;
    height: 20px;
    margin-top: 10px;
    // gap: 10px;

    background-color: $white;
    border-radius: 25px;
    position: relative;
    border: 1px solid $darkShade-25;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    // z-index: 5;
  }
  .toggle-label::after {
    content: "";
    width: 12px;
    height: 12px;

    background-color: $darkShade-25;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: transform 0.3s;
  }
  input[type="checkbox"]:checked + label:before,
  input[type="checkbox"]:not(:checked) + label:before {
    border: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $darkShade-25;
    top: 3px;
    left: 4px;
    color: $darkShade-75;
  }
  input:checked + .toggle-label {
    border-color: $purple;
  }
  input:checked + .toggle-label::after {
    transform: translateX(18px);
    background: linear-gradient(180deg, $purple 0%, $purple-grand 100%);
    cursor: pointer;
  }
  span {
    margin: 10px 0 0 10px;
  }
}

.likeButton__block {
  width: 40px;
  height: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  cursor: pointer;
  border: 1px solid $darkShade-25;
  border-radius: 10px;
  font-size: 10px;
  line-height: 12.19px;
  padding-right: 7px;
  color: $darkShade-25;
  position: relative; // добавлено для позиционирования изображений

  span.likeText {
    font-size: 10px;
    line-height: 12.19px;
    color: $darkShade-25;
  }

  &.likeButton,
  &:hover {
    border: 1px solid $purple;
    color: $purple;
  }

  .likeButton__icon {
    position: absolute;
    width: 11px;
    height: 11px;
    top: 4px;
    left: 4px;
    transition: opacity 0.3s ease;
  }

  .likeButton__icon--unchecked {
    opacity: 1; // По умолчанию видно
  }

  .likeButton__icon--checked {
    opacity: 0; // По умолчанию скрыто
  }

  &.checked {
    .likeButton__icon--unchecked {
      opacity: 0;
    }

    .likeButton__icon--checked {
      opacity: 1;
    }
  }

  &:hover {
    .likeButton__icon--unchecked {
      opacity: 0;
    }

    .likeButton__icon--checked {
      opacity: 1;
    }
  }
}
