include ../mixins/mixins.pug

main
    img(src=require("./assets/mainImage.jpg").default, alt="background", class="main__image")
    .wrapper 
        +cardCalendar
        //- .dynamic__content
        
        +registration({isEnter: false, className: false })
        +registration({isEnter: true, className: false })

        span
            | Лучшие номера для вашей работы,
            br
            | отдыха и просто вдохновения
        