//- include ../mixins/mixins.pug

main
    //- img(src=require("@assets/mainImage.jpg").default, alt="background", class="main__image")
    img(src=require("./assets/mainImage.jpg").default, alt="background", class="main__image")
    .wrapper 
        +cardCalendar
        //- .dynamic__content
        input#myId
        input#my-element
        //- +registration({isEnter: false, className: false })
        //- +registration({isEnter: true, className: false })

        span.main__text
            | Лучшие номера для вашей работы,
            br
            | отдыха и просто вдохновения
        