@use "../../styles/_const.scss" as *;
.room {
  max-width: 1440px;
  width: 100%;
  min-height: 1474px;
  margin: 0 auto;
  .room__visual {
    max-width: 1440px;
    width: 100%;
    height: 485px;
    display: flex;
    margin: 0 auto;
    .room__visual-image {
      max-width: 459px;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  .wrapper {
    .room_main {
      max-width: 712px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-top: 70px;
      .room-about {
        display: flex;
        justify-content: space-between;
        .room-information {
          display: flex;
          flex-direction: column;
        }
      }
      .room-review {
        display: flex;
        flex-direction: column;
        .room-review_title {
          display: flex;
          justify-content: space-between;
          .room-review_quantity {
            font-size: 14px;
            line-height: 14px;
            color: $darkShade-50;
          }
        }
        .room-review_block {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
      .room-rules {
        display: flex;
        justify-content: space-between;
        .room_rules {
          display: flex;
          flex-direction: column;
        }
        .room_cancel {
          display: flex;
          flex-direction: column;
          p {
            @include font-style(body);
            color: $darkShade-75;
          }
        }
      }
    }
  }
}
