include ../mixins.pug

mixin findYourRoom
    .find-room
        h2 Найдём номера под ваши пожелания
        +calendarCheck({idCalendar: "findRoom"})
        +dropdownGuest({label: ""})
        +button({text: "подобрать номер", isImage: true, isPrimary: true})
