include ../components/mixins/mixins.pug
include ../components/mixins/findYourRoom/findYourRoom.pug

+ui-header({title: "Cards", active: "cards", className:"ui__area"})
.wrapper.cardsPage.ui__area 
    +findYourRoom
    +registration({isEnter: false, className: true, page: "cards" })
    +registration({isEnter: true, className: true, page: "ui" })