include ../components/mixins/mixins.pug

+ui-header({title: "Cards", active: "cards"})
.wrapper.cardsPage 
    h1 this is a cards.pug file
    +registration({isEnter: false, className: true, page: "cards" })
    +registration({isEnter: true, className: true, page: "ui" })