include ../components/mixins/mixins.pug
include ../components/footer/footer.pug
include ../components/header/header.pug

+header
section.registration__area
    img(src=require("@assets/registrationPage.jpg").default, alt="background", class="main__image")
    .wrapper 
        +registration({isEnter: false, className: true })
+footer