include ../components/mixins/mixins.pug
include ../components/mixins/roomCard/roomCard.pug

+ui-header({title: "Form Elements", active: "forms"})
.wrapper.formsPage 
    h1 this is a form.pug file
    +room-card()
