include ../components/mixins/mixins.pug
include ../components/header/header.pug
include ../components/footer/footer.pug

section.headers
    +ui-header({title: "Headers & Footers", active: "headers", className:"ui__area"})
    +header()
    .headerPage__wrapper
    +header({classRegistration: "userRegistration"})
    .headerPage__wrapper
    //- +footer()
    .headerPage__wrapper
    +footer({isMobile: true})