include ../components/mixins/mixins.pug
include ../components/header/header.pug

+ui-header({title: "Headers & Footers", active: "headers", className:"ui__area"})
+header()
.headerPage__wrapper
+header({classRegistration: "userRegistration"})

//- .headerPage__wrapper
//- include ../components/footer/footer.pug