include ../components/mixins/mixins.pug

section.registration__area
    img(src=require("@assets/registrationPage.jpg").default, alt="background", class="main__image")
    .wrapper 
        +registration({isEnter: false, className: true })
