include ../mixins/mixins.pug

header
    div(class='wrapper')
        a(href="/"  data-link)
            img(src=require("./assets/logo.svg").default, alt="logo")
        ul 
            a(href="/about"  data-link)
                li О нас
            li Услуги 
            li Вакансии
            li Новости
            a(href="/ui-kit"  data-link)
                li Соглашения
        a(href="/registration"  data-link)
            +button({text:"войти", isPrimary:false, className:"btn-login"})
        //- +button({text:"войти", isPrimary:false, className:"btn-login"})
        a(href="/enter"  data-link)
            +button({text:"зарегистрироваться", isPrimary:true, className:"btn-register"})

    