include ../mixins/mixins.pug

header
    .wrapper
        a(href="/"  data-link)
            img(src=require("./assets/logo.svg").default, alt="logo")
        ul 
            a(href="/about"  data-link)
                li О нас
            li Услуги 
            li Вакансии
            li Новости
            a(href="/ui-colors"  data-link)
                li Соглашения
        +button({text:"войти", isPrimary:false, className:"btn-login", link:"enter"})
        +button({text:"зарегистрироваться", isPrimary:true, className:"btn-register", link:"registration"})

    