include ../mixins/mixins.pug

header
    div(class='wrapper')
        a(href="/")
            img(src=require("./assets/logo.svg").default, alt="logo")
        ul 
            a(href="/about")
                li О нас
            li Услуги 
            li Вакансии
            li Новости
            li Соглашения
        a(href="/registration")
            +button({text:"войти", isPrimary:false, className:"btn-login"})
        //- +button({text:"войти", isPrimary:false, className:"btn-login"})
        +button({text:"зарегистрироваться", isPrimary:true, className:"btn-register"})

    