mixin burger()
    .header__nav 
        nav.nav 
            ul.nav__list 
                li 
                    a(href="/hotelScout/about"  data-link) О нас
            li Услуги 
            li Вакансии
            li Новости



    //- nav#menu 
    //-     ul 
    //-         a(href="/hotelScout/about"  data-link)
    //-             li О нас
    //-         li Услуги 
    //-         li Вакансии
    //-         li Новости