@use "../../styles/_const.scss" as *;
footer {
  max-width: 1440px;
  width: 100%;
  font-size: 14px;
  line-height: 17.07px;
  color: $darkShade-50;
  // position: fixed;
  // bottom: 0;
  margin: 0 auto;
  //   margin: auto 0 0 0;
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .footer__head {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 40px;
      .footer__about {
        max-width: 260px;
        width: 100%;
        height: 132px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        line-height: 24px;
        color: $darkShade-75;

        img {
          width: 105.69px;
          height: 40px;
        }
      }
      .menu__list-support {
        min-width: 149px;
        width: 100%;
      }
      .subscription {
        .subscription__title {
          font-weight: 700;
          font-size: 12px;
          line-height: 14.63px;
          text-transform: uppercase;
          color: $darkShade-100;
        }
        .subscription__text {
          line-height: 24px;
          color: $darkShade-75;
          margin: 21px 0 20px 0;
        }
        .footer__email {
          width: 260px;
          height: 44px;
          position: relative;
          input {
            position: absolute;
            width: 260px;
            height: 44px;
            border: 1px solid $darkShade-25;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 15px;
            &::placeholder {
              color: $darkShade-25;
            }
          }
          img {
            position: absolute;
            right: 10px;
            top: calc(50% - 10px);

            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .footer__foot {
      height: 70px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid $darkShade-5;
      .footer__social {
        width: 112px;
        height: 24px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
