include ../../components/mixins/mixins.pug
include ../../components/mixins/findYourRoom/findYourRoom.pug
include ../../components/mixins/finishCardRoom/finishCardRoom.pug


- var roomData = require("../../data/rooms.json")
- var selectedRoom = roomData.find(room=>room.number===888)
- var secondRoom = roomData.find(room=>room.number===840)

+ui-header({title: "Cards", active: "cards", className:"ui__area"})
.wrapper.cardsPage.ui__area 
    +findYourRoom
    +registration({isEnter: true, className: true, page: "ui" })
    +finishCardRoom({number: 888, price: 9990, lux: true, day: 4, label: "Гости" })
    +registration({isEnter: false, className: true, page: "cards" })
    .card__calendar
    +room-card({star: selectedRoom.star, lux: selectedRoom.lux, price: selectedRoom.price, number: selectedRoom.number, reviewNumbers: selectedRoom.reviewNumbers, images: selectedRoom.images})
    +room-card({star: secondRoom.star, lux: secondRoom.lux, price: secondRoom.price, number: secondRoom.number, reviewNumbers: secondRoom.reviewNumbers, images: secondRoom.images})